// styles for palette switcher

#palette-switcher {
  //position: relative;
  float: right;
  overflow: scroll;
  width: 20em;
  height: 99vh;

  ul {
    list-style-type: none;
  }

  li {
    cursor: pointer;
  }

  li:hover {
    background-color: #9ea894;
  }
}

