// styles for terminal window

#terminal { 
  display: inline-block; }

#screen {
  border-collapse: collapse;
  border-color: black;
}

#screen td {

  @media (max-width: 1920px) {
    font-size: medium;
  }
  @media (max-width: 1280px) {
    font-size: smaller;
  }
  font-family: PT Mono, monospace;
  border-color: black;
  width: .6em;
  height: 1.2em;
}