#screen td.fg-default{
    color: #98d1ce;
}

#screen td.bg-default{
    background-color: #0a0f14;
}

#screen td.fg-reverse{
    color: #0a0f14;
}

#screen td.bg-reverse{
    background-color: #98d1ce;
}

#screen td.fg-green{
    color: #26a98b;
}

#screen td.bg-green{
    background-color: #081f2d;
}

#screen td.fg-brown{
    color: #edb54b;
}

#screen td.bg-brown{
    background-color: #245361;
}

#screen td.fg-blue{
    color: #195465;
}

#screen td.bg-blue{
    background-color: #093748;
}

#screen td.fg-magenta{
    color: #4e5165;
}

#screen td.bg-magenta{
    background-color: #888ba5;
}

#screen td.fg-cyan{
    color: #33859d;
}

#screen td.bg-cyan{
    background-color: #599caa;
}

#screen td.fg-white{
    color: #98d1ce;
}

#screen td.bg-white{
    background-color: #d3ebe9;
}

#screen td.fg-black{
    color: #0a0f14;
}

#screen td.bg-black{
    background-color: #10151b;
}

#screen td.fg-red{
    color: #c33027;
}

#screen td.bg-red{
    background-color: #d26939;
}

