#screen td.fg-default{
    color: #FFFFFF;
}

#screen td.bg-default{
    background-color: #161616;
}

#screen td.fg-reverse{
    color: #161616;
}

#screen td.bg-reverse{
    background-color: #FFFFFF;
}

#screen td.fg-green{
    color: #B7CE42;
}

#screen td.bg-green{
    background-color: #BDE077;
}

#screen td.fg-brown{
    color: #FEA63C;
}

#screen td.bg-brown{
    background-color: #FFE863;
}

#screen td.fg-blue{
    color: #66AABB;
}

#screen td.bg-blue{
    background-color: #AACCBB;
}

#screen td.fg-magenta{
    color: #B7416E;
}

#screen td.bg-magenta{
    background-color: #E16A98;
}

#screen td.fg-cyan{
    color: #6D878D;
}

#screen td.bg-cyan{
    background-color: #42717B;
}

#screen td.fg-white{
    color: #DDDDDD;
}

#screen td.bg-white{
    background-color: #CCCCCC;
}

#screen td.fg-black{
    color: #222222;
}

#screen td.bg-black{
    background-color: #666666;
}

#screen td.fg-red{
    color: #E84F4F;
}

#screen td.bg-red{
    background-color: #D23D3D;
}

