#screen td.fg-default{
    color: #ffffff;
}

#screen td.bg-default{
    background-color: #1e1e1e;
}

#screen td.fg-reverse{
    color: #1e1e1e;
}

#screen td.bg-reverse{
    background-color: #ffffff;
}

#screen td.fg-green{
    color: #BBBB88;
}

#screen td.bg-green{
    background-color: #CCC68D;
}

#screen td.fg-brown{
    color: #F9D25B;
}

#screen td.bg-brown{
    background-color: #EEDD99;
}

#screen td.fg-blue{
    color: #E0BA69;
}

#screen td.bg-blue{
    background-color: #C9B957;
}

#screen td.fg-magenta{
    color: #709289;
}

#screen td.bg-magenta{
    background-color: #FFCBAB;
}

#screen td.fg-cyan{
    color: #D13516;
}

#screen td.bg-cyan{
    background-color: #C25431;
}

#screen td.fg-white{
    color: #EFE2E0;
}

#screen td.bg-white{
    background-color: #F9F1ED;
}

#screen td.fg-black{
    color: #5A7260;
}

#screen td.bg-black{
    background-color: #8DA691;
}

#screen td.fg-red{
    color: #8F423C;
}

#screen td.bg-red{
    background-color: #EEAA88;
}

