#screen td.fg-default{
    color: #888888;
}

#screen td.bg-default{
    background-color: #151515;
}

#screen td.fg-reverse{
    color: #151515;
}

#screen td.bg-reverse{
    background-color: #888888;
}

#screen td.fg-green{
    color: #19CB00;
}

#screen td.bg-green{
    background-color: #23FD00;
}

#screen td.fg-brown{
    color: #FAD07A;
}

#screen td.bg-brown{
    background-color: #FFEFBF;
}

#screen td.fg-blue{
    color: #8197BF;
}

#screen td.bg-blue{
    background-color: #ACCAFF;
}

#screen td.fg-magenta{
    color: #8787AF;
}

#screen td.bg-magenta{
    background-color: #C4C4FF;
}

#screen td.fg-cyan{
    color: #668799;
}

#screen td.bg-cyan{
    background-color: #80BFAF;
}

#screen td.fg-white{
    color: #888888;
}

#screen td.bg-white{
    background-color: #E8E8D3;
}

#screen td.fg-black{
    color: #292929;
}

#screen td.bg-black{
    background-color: #525252;
}

#screen td.fg-red{
    color: #CF6A4C;
}

#screen td.bg-red{
    background-color: #FF9D80;
}

