#screen td.fg-default{
    color: #515253;
}

#screen td.bg-default{
    background-color: #fcfdfe;
}

#screen td.fg-reverse{
    color: #fcfdfe;
}

#screen td.bg-reverse{
    background-color: #515253;
}

#screen td.fg-green{
    color: #31a354;
}

#screen td.bg-green{
    background-color: #31a354;
}

#screen td.fg-brown{
    color: #dca060;
}

#screen td.bg-brown{
    background-color: #dca060;
}

#screen td.fg-blue{
    color: #3182bd;
}

#screen td.bg-blue{
    background-color: #3182bd;
}

#screen td.fg-magenta{
    color: #756bb1;
}

#screen td.bg-magenta{
    background-color: #756bb1;
}

#screen td.fg-cyan{
    color: #80b1d3;
}

#screen td.bg-cyan{
    background-color: #80b1d3;
}

#screen td.fg-white{
    color: #b7b8b9;
}

#screen td.bg-white{
    background-color: #fcfdfe;
}

#screen td.fg-black{
    color: #0c0d0e;
}

#screen td.bg-black{
    background-color: #737475;
}

#screen td.fg-red{
    color: #e31a1c;
}

#screen td.bg-red{
    background-color: #e31a1c;
}

