#screen td.fg-default{
    color: #9ea7a6;
}

#screen td.bg-default{
    background-color: #232c31;
}

#screen td.fg-reverse{
    color: #232c31;
}

#screen td.bg-reverse{
    background-color: #9ea7a6;
}

#screen td.fg-green{
    color: #237986;
}

#screen td.bg-green{
    background-color: #237986;
}

#screen td.fg-brown{
    color: #a03b1e;
}

#screen td.bg-brown{
    background-color: #a03b1e;
}

#screen td.fg-blue{
    color: #484d79;
}

#screen td.bg-blue{
    background-color: #484d79;
}

#screen td.fg-magenta{
    color: #c59820;
}

#screen td.bg-magenta{
    background-color: #c59820;
}

#screen td.fg-cyan{
    color: #b02f30;
}

#screen td.bg-cyan{
    background-color: #b02f30;
}

#screen td.fg-white{
    color: #9ea7a6;
}

#screen td.bg-white{
    background-color: #b5d8f6;
}

#screen td.fg-black{
    color: #232c31;
}

#screen td.bg-black{
    background-color: #3f4944;
}

#screen td.fg-red{
    color: #2a5491;
}

#screen td.bg-red{
    background-color: #2a5491;
}

