#screen td.fg-default{
    color: #ababab;
}

#screen td.bg-default{
    background-color: #000000;
}

#screen td.fg-reverse{
    color: #000000;
}

#screen td.bg-reverse{
    background-color: #ababab;
}

#screen td.fg-green{
    color: #0ed839;
}

#screen td.bg-green{
    background-color: #0ed839;
}

#screen td.fg-brown{
    color: #dddd13;
}

#screen td.bg-brown{
    background-color: #dddd13;
}

#screen td.fg-blue{
    color: #3b48e3;
}

#screen td.bg-blue{
    background-color: #3b48e3;
}

#screen td.fg-magenta{
    color: #f996e2;
}

#screen td.bg-magenta{
    background-color: #f996e2;
}

#screen td.fg-cyan{
    color: #23edda;
}

#screen td.bg-cyan{
    background-color: #23edda;
}

#screen td.fg-white{
    color: #ababab;
}

#screen td.bg-white{
    background-color: #f9f9f9;
}

#screen td.fg-black{
    color: #000000;
}

#screen td.bg-black{
    background-color: #343434;
}

#screen td.fg-red{
    color: #e92f2f;
}

#screen td.bg-red{
    background-color: #e92f2f;
}

