#screen td.fg-default{
    color: #93a1a1;
}

#screen td.bg-default{
    background-color: #002b36;
}

#screen td.fg-reverse{
    color: #002b36;
}

#screen td.bg-reverse{
    background-color: #93a1a1;
}

#screen td.fg-green{
    color: #859900;
}

#screen td.bg-green{
    background-color: #859900;
}

#screen td.fg-brown{
    color: #b58900;
}

#screen td.bg-brown{
    background-color: #b58900;
}

#screen td.fg-blue{
    color: #268bd2;
}

#screen td.bg-blue{
    background-color: #268bd2;
}

#screen td.fg-magenta{
    color: #6c71c4;
}

#screen td.bg-magenta{
    background-color: #6c71c4;
}

#screen td.fg-cyan{
    color: #2aa198;
}

#screen td.bg-cyan{
    background-color: #2aa198;
}

#screen td.fg-white{
    color: #93a1a1;
}

#screen td.bg-white{
    background-color: #fdf6e3;
}

#screen td.fg-black{
    color: #002b36;
}

#screen td.bg-black{
    background-color: #657b83;
}

#screen td.fg-red{
    color: #dc322f;
}

#screen td.bg-red{
    background-color: #dc322f;
}

