#screen td.fg-default{
    color: #ffffff;
}

#screen td.bg-default{
    background-color: #000000;
}

#screen td.fg-reverse{
    color: #000000;
}

#screen td.bg-reverse{
    background-color: #ffffff;
}

#screen td.fg-green{
    color: #719d72;
}

#screen td.bg-green{
    background-color: #839d84;
}

#screen td.fg-brown{
    color: #909858;
}

#screen td.bg-brown{
    background-color: #919864;
}

#screen td.fg-blue{
    color: #68668f;
}

#screen td.bg-blue{
    background-color: #73718f;
}

#screen td.fg-magenta{
    color: #966894;
}

#screen td.bg-magenta{
    background-color: #987397;
}

#screen td.fg-cyan{
    color: #688891;
}

#screen td.bg-cyan{
    background-color: #758c93;
}

#screen td.fg-white{
    color: #8e8e8e;
}

#screen td.bg-white{
    background-color: #aeaeae;
}

#screen td.fg-black{
    color: #282828;
}

#screen td.bg-black{
    background-color: #494949;
}

#screen td.fg-red{
    color: #b76969;
}

#screen td.bg-red{
    background-color: #b87e7e;
}

