#screen td.fg-default{
    color: #ffffff;
}

#screen td.bg-default{
    background-color: #000000;
}

#screen td.fg-reverse{
    color: #000000;
}

#screen td.bg-reverse{
    background-color: #ffffff;
}

#screen td.fg-green{
    color: #889965;
}

#screen td.bg-green{
    background-color: #95b548;
}

#screen td.fg-brown{
    color: #998565;
}

#screen td.bg-brown{
    background-color: #bd814b;
}

#screen td.fg-blue{
    color: #657a99;
}

#screen td.bg-blue{
    background-color: #4c83bf;
}

#screen td.fg-magenta{
    color: #8b6599;
}

#screen td.bg-magenta{
    background-color: #a04bbd;
}

#screen td.fg-cyan{
    color: #65998d;
}

#screen td.bg-cyan{
    background-color: #4dbda8;
}

#screen td.fg-white{
    color: #a5a5a4;
}

#screen td.bg-white{
    background-color: #848484;
}

#screen td.fg-black{
    color: #666666;
}

#screen td.bg-black{
    background-color: #8c847f;
}

#screen td.fg-red{
    color: #996578;
}

#screen td.bg-red{
    background-color: #bd4b76;
}

