#screen td.fg-default{
    color: #746c48;
}

#screen td.bg-default{
    background-color: #170f0d;
}

#screen td.fg-reverse{
    color: #170f0d;
}

#screen td.bg-reverse{
    background-color: #746c48;
}

#screen td.fg-green{
    color: #4d353b;
}

#screen td.bg-green{
    background-color: #ad6042;
}

#screen td.fg-brown{
    color: #503b43;
}

#screen td.bg-brown{
    background-color: #b48b6f;
}

#screen td.fg-blue{
    color: #57403e;
}

#screen td.bg-blue{
    background-color: #c4ab98;
}

#screen td.fg-magenta{
    color: #665453;
}

#screen td.bg-magenta{
    background-color: #d9c9b6;
}

#screen td.fg-cyan{
    color: #6e5450;
}

#screen td.bg-cyan{
    background-color: #e7ddd1;
}

#screen td.fg-white{
    color: #8e7266;
}

#screen td.bg-white{
    background-color: #faf7f2;
}

#screen td.fg-black{
    color: #261e26;
}

#screen td.bg-black{
    background-color: #906756;
}

#screen td.fg-red{
    color: #312c38;
}

#screen td.bg-red{
    background-color: #927e7e;
}

