#screen td.fg-default{
    color: #ffffff;
}

#screen td.bg-default{
    background-color: #000000;
}

#screen td.fg-reverse{
    color: #000000;
}

#screen td.bg-reverse{
    background-color: #ffffff;
}

#screen td.fg-green{
    color: #41a551;
}

#screen td.bg-green{
    background-color: #51a55f;
}

#screen td.fg-brown{
    color: #aea64f;
}

#screen td.bg-brown{
    background-color: #aea75d;
}

#screen td.fg-blue{
    color: #416ea5;
}

#screen td.bg-blue{
    background-color: #5177a5;
}

#screen td.fg-magenta{
    color: #bf6053;
}

#screen td.bg-magenta{
    background-color: #bf6e63;
}

#screen td.fg-cyan{
    color: #714da5;
}

#screen td.bg-cyan{
    background-color: #7859a5;
}

#screen td.fg-white{
    color: #876868;
}

#screen td.bg-white{
    background-color: #876f6f;
}

#screen td.fg-black{
    color: #293b3b;
}

#screen td.bg-black{
    background-color: #344040;
}

#screen td.fg-red{
    color: #bf5357;
}

#screen td.bg-red{
    background-color: #bf6367;
}

