#screen td.fg-default{
    color: #ffffff;
}

#screen td.bg-default{
    background-color: #000000;
}

#screen td.fg-reverse{
    color: #000000;
}

#screen td.bg-reverse{
    background-color: #ffffff;
}

#screen td.fg-green{
    color: #287373;
}

#screen td.bg-green{
    background-color: #53a6a6;
}

#screen td.fg-brown{
    color: #7c7c99;
}

#screen td.bg-brown{
    background-color: #9e9ecb;
}

#screen td.fg-blue{
    color: #395573;
}

#screen td.bg-blue{
    background-color: #477ab3;
}

#screen td.fg-magenta{
    color: #5e468c;
}

#screen td.bg-magenta{
    background-color: #7e62b3;
}

#screen td.fg-cyan{
    color: #31658c;
}

#screen td.bg-cyan{
    background-color: #6096bf;
}

#screen td.fg-white{
    color: #899ca1;
}

#screen td.bg-white{
    background-color: #c0c0c0;
}

#screen td.fg-black{
    color: #333333;
}

#screen td.bg-black{
    background-color: #3d3d3d;
}

#screen td.fg-red{
    color: #8c4665;
}

#screen td.bg-red{
    background-color: #bf4d80;
}

