#screen td.fg-default{
    color: #ffffff;
}

#screen td.bg-default{
    background-color: #000000;
}

#screen td.fg-reverse{
    color: #000000;
}

#screen td.bg-reverse{
    background-color: #ffffff;
}

#screen td.fg-green{
    color: #447241;
}

#screen td.bg-green{
    background-color: #27a343;
}

#screen td.fg-brown{
    color: #c1951a;
}

#screen td.bg-brown{
    background-color: #d5a30e;
}

#screen td.fg-blue{
    color: #425387;
}

#screen td.bg-blue{
    background-color: #4a5a8d;
}

#screen td.fg-magenta{
    color: #965d98;
}

#screen td.bg-magenta{
    background-color: #893c8c;
}

#screen td.fg-cyan{
    color: #06989a;
}

#screen td.bg-cyan{
    background-color: #12bccb;
}

#screen td.fg-white{
    color: #d3d7cf;
}

#screen td.bg-white{
    background-color: #eeeeec;
}

#screen td.fg-black{
    color: #2e3436;
}

#screen td.bg-black{
    background-color: #555753;
}

#screen td.fg-red{
    color: #a31604;
}

#screen td.bg-red{
    background-color: #c60001;
}

