#screen td.fg-default{
    color: #dddddd;
}

#screen td.bg-default{
    background-color: #222222;
}

#screen td.fg-reverse{
    color: #222222;
}

#screen td.bg-reverse{
    background-color: #dddddd;
}

#screen td.fg-green{
    color: #5b762f;
}

#screen td.bg-green{
    background-color: #89b83f;
}

#screen td.fg-brown{
    color: #aa9943;
}

#screen td.bg-brown{
    background-color: #efef60;
}

#screen td.fg-blue{
    color: #324c80;
}

#screen td.bg-blue{
    background-color: #2b4f98;
}

#screen td.fg-magenta{
    color: #706c9a;
}

#screen td.bg-magenta{
    background-color: #826ab1;
}

#screen td.fg-cyan{
    color: #92b19e;
}

#screen td.bg-cyan{
    background-color: #a1cdcd;
}

#screen td.fg-white{
    color: #ffffff;
}

#screen td.bg-white{
    background-color: #dddddd;
}

#screen td.fg-black{
    color: #191919;
}

#screen td.bg-black{
    background-color: #252525;
}

#screen td.fg-red{
    color: #803232;
}

#screen td.bg-red{
    background-color: #982b2b;
}

