#screen td.fg-default{
    color: #78796f;
}

#screen td.bg-default{
    background-color: #373b43;
}

#screen td.fg-reverse{
    color: #373b43;
}

#screen td.bg-reverse{
    background-color: #78796f;
}

#screen td.fg-green{
    color: #fbfd59;
}

#screen td.bg-green{
    background-color: #fbfd59;
}

#screen td.fg-brown{
    color: #deac40;
}

#screen td.bg-brown{
    background-color: #deac40;
}

#screen td.fg-blue{
    color: #afb171;
}

#screen td.bg-blue{
    background-color: #afb171;
}

#screen td.fg-magenta{
    color: #b387e7;
}

#screen td.bg-magenta{
    background-color: #b387e7;
}

#screen td.fg-cyan{
    color: #63e860;
}

#screen td.bg-cyan{
    background-color: #63e860;
}

#screen td.fg-white{
    color: #efdecb;
}

#screen td.bg-white{
    background-color: #efdecb;
}

#screen td.fg-black{
    color: #373b43;
}

#screen td.bg-black{
    background-color: #373b43;
}

#screen td.fg-red{
    color: #fdcd39;
}

#screen td.bg-red{
    background-color: #fdcd39;
}

