#screen td.fg-default{
    color: #ffffff;
}

#screen td.bg-default{
    background-color: #000000;
}

#screen td.fg-reverse{
    color: #000000;
}

#screen td.bg-reverse{
    background-color: #ffffff;
}

#screen td.fg-green{
    color: #66b61a;
}

#screen td.bg-green{
    background-color: #4b8a10;
}

#screen td.fg-brown{
    color: #d98e1d;
}

#screen td.bg-brown{
    background-color: #e5d95e;
}

#screen td.fg-blue{
    color: #23ffa8;
}

#screen td.bg-blue{
    background-color: #23aaff;
}

#screen td.fg-magenta{
    color: #ff00da;
}

#screen td.bg-magenta{
    background-color: #ab005b;
}

#screen td.fg-cyan{
    color: #68a783;
}

#screen td.bg-cyan{
    background-color: #bbcd81;
}

#screen td.fg-white{
    color: #eaeaea;
}

#screen td.bg-white{
    background-color: #bbbbbb;
}

#screen td.fg-black{
    color: #191919;
}

#screen td.bg-black{
    background-color: #484848;
}

#screen td.fg-red{
    color: #eb3d51;
}

#screen td.bg-red{
    background-color: #be6262;
}

