#screen td.fg-default{
    color: #666699;
}

#screen td.bg-default{
    background-color: #000000;
}

#screen td.fg-reverse{
    color: #000000;
}

#screen td.bg-reverse{
    background-color: #666699;
}

#screen td.fg-green{
    color: #0099cc;
}

#screen td.bg-green{
    background-color: #00ccff;
}

#screen td.fg-brown{
    color: #3366cc;
}

#screen td.bg-brown{
    background-color: #6699ff;
}

#screen td.fg-blue{
    color: #006699;
}

#screen td.bg-blue{
    background-color: #0099cc;
}

#screen td.fg-magenta{
    color: #0066ff;
}

#screen td.bg-magenta{
    background-color: #0099ff;
}

#screen td.fg-cyan{
    color: #669999;
}

#screen td.bg-cyan{
    background-color: #66cccc;
}

#screen td.fg-white{
    color: #99cccc;
}

#screen td.bg-white{
    background-color: #ccffff;
}

#screen td.fg-black{
    color: #333366;
}

#screen td.bg-black{
    background-color: #333399;
}

#screen td.fg-red{
    color: #6666cc;
}

#screen td.bg-red{
    background-color: #9999ff;
}

