#screen td.fg-default{
    color: #8a8986;
}

#screen td.bg-default{
    background-color: #28211c;
}

#screen td.fg-reverse{
    color: #28211c;
}

#screen td.bg-reverse{
    background-color: #8a8986;
}

#screen td.fg-green{
    color: #54be0d;
}

#screen td.bg-green{
    background-color: #54be0d;
}

#screen td.fg-brown{
    color: #f9ee98;
}

#screen td.bg-brown{
    background-color: #f9ee98;
}

#screen td.fg-blue{
    color: #5ea6ea;
}

#screen td.bg-blue{
    background-color: #5ea6ea;
}

#screen td.fg-magenta{
    color: #9b859d;
}

#screen td.bg-magenta{
    background-color: #9b859d;
}

#screen td.fg-cyan{
    color: #afc4db;
}

#screen td.bg-cyan{
    background-color: #afc4db;
}

#screen td.fg-white{
    color: #8a8986;
}

#screen td.bg-white{
    background-color: #baae9e;
}

#screen td.fg-black{
    color: #28211c;
}

#screen td.bg-black{
    background-color: #666666;
}

#screen td.fg-red{
    color: #cf6a4c;
}

#screen td.bg-red{
    background-color: #cf6a4c;
}

