#screen td.fg-default{
    color: #b9b9b9;
}

#screen td.bg-default{
    background-color: #101010;
}

#screen td.fg-reverse{
    color: #101010;
}

#screen td.bg-reverse{
    background-color: #b9b9b9;
}

#screen td.fg-green{
    color: #8e8e8e;
}

#screen td.bg-green{
    background-color: #8e8e8e;
}

#screen td.fg-brown{
    color: #a0a0a0;
}

#screen td.bg-brown{
    background-color: #a0a0a0;
}

#screen td.fg-blue{
    color: #686868;
}

#screen td.bg-blue{
    background-color: #686868;
}

#screen td.fg-magenta{
    color: #747474;
}

#screen td.bg-magenta{
    background-color: #747474;
}

#screen td.fg-cyan{
    color: #868686;
}

#screen td.bg-cyan{
    background-color: #868686;
}

#screen td.fg-white{
    color: #b9b9b9;
}

#screen td.bg-white{
    background-color: #f7f7f7;
}

#screen td.fg-black{
    color: #101010;
}

#screen td.bg-black{
    background-color: #525252;
}

#screen td.fg-red{
    color: #7c7c7c;
}

#screen td.bg-red{
    background-color: #7c7c7c;
}

