#screen td.fg-default{
    color: #e8dfd6;
}

#screen td.bg-default{
    background-color: #021b21;
}

#screen td.fg-reverse{
    color: #021b21;
}

#screen td.bg-reverse{
    background-color: #e8dfd6;
}

#screen td.fg-green{
    color: #7cbf9e;
}

#screen td.bg-green{
    background-color: #a2d9b1;
}

#screen td.fg-brown{
    color: #8a7a63;
}

#screen td.bg-brown{
    background-color: #beb090;
}

#screen td.fg-blue{
    color: #2e3340;
}

#screen td.bg-blue{
    background-color: #61778d;
}

#screen td.fg-magenta{
    color: #ff5879;
}

#screen td.bg-magenta{
    background-color: #ff99a1;
}

#screen td.fg-cyan{
    color: #44b5b1;
}

#screen td.bg-cyan{
    background-color: #9ed9d8;
}

#screen td.fg-white{
    color: #f2f1b9;
}

#screen td.bg-white{
    background-color: #f6f6c9;
}

#screen td.fg-black{
    color: #032c36;
}

#screen td.bg-black{
    background-color: #065f73;
}

#screen td.fg-red{
    color: #c2454e;
}

#screen td.bg-red{
    background-color: #ef5847;
}

