#screen td.fg-default{
    color: #D7D0C7;
}

#screen td.bg-default{
    background-color: #151515;
}

#screen td.fg-reverse{
    color: #151515;
}

#screen td.bg-reverse{
    background-color: #D7D0C7;
}

#screen td.fg-green{
    color: #B8D68C;
}

#screen td.bg-green{
    background-color: #A0CF5D;
}

#screen td.fg-brown{
    color: #E1AA5D;
}

#screen td.bg-brown{
    background-color: #F39D21;
}

#screen td.fg-blue{
    color: #7DC1CF;
}

#screen td.bg-blue{
    background-color: #4E9FB1;
}

#screen td.fg-magenta{
    color: #9B64FB;
}

#screen td.bg-magenta{
    background-color: #8542FF;
}

#screen td.fg-cyan{
    color: #6D878D;
}

#screen td.bg-cyan{
    background-color: #42717B;
}

#screen td.fg-white{
    color: #DDDDDD;
}

#screen td.bg-white{
    background-color: #DDDDDD;
}

#screen td.fg-black{
    color: #101010;
}

#screen td.bg-black{
    background-color: #404040;
}

#screen td.fg-red{
    color: #E84F4F;
}

#screen td.bg-red{
    background-color: #D23D3D;
}

