#screen td.fg-default{
    color: #34302D;
}

#screen td.bg-default{
    background-color: #F5E7DE;
}

#screen td.fg-reverse{
    color: #F5E7DE;
}

#screen td.bg-reverse{
    background-color: #34302D;
}

#screen td.fg-green{
    color: #4C3226;
}

#screen td.bg-green{
    background-color: #664233;
}

#screen td.fg-brown{
    color: #A67C53;
}

#screen td.bg-brown{
    background-color: #BF8F60;
}

#screen td.fg-blue{
    color: #4C7399;
}

#screen td.bg-blue{
    background-color: #5986B2;
}

#screen td.fg-magenta{
    color: #BF9986;
}

#screen td.bg-magenta{
    background-color: #D9AE98;
}

#screen td.fg-cyan{
    color: #D97742;
}

#screen td.bg-cyan{
    background-color: #F2854A;
}

#screen td.fg-white{
    color: #34302D;
}

#screen td.bg-white{
    background-color: #4C4742;
}

#screen td.fg-black{
    color: #666661;
}

#screen td.bg-black{
    background-color: #7F7F7A;
}

#screen td.fg-red{
    color: #992E2E;
}

#screen td.bg-red{
    background-color: #B23636;
}

