#screen td.fg-default{
    color: #ffffff;
}

#screen td.bg-default{
    background-color: #000000;
}

#screen td.fg-reverse{
    color: #000000;
}

#screen td.bg-reverse{
    background-color: #ffffff;
}

#screen td.fg-green{
    color: #9acc79;
}

#screen td.bg-green{
    background-color: #8fb676;
}

#screen td.fg-brown{
    color: #d0d26b;
}

#screen td.bg-brown{
    background-color: #c8bc45;
}

#screen td.fg-blue{
    color: #77b6c5;
}

#screen td.bg-blue{
    background-color: #8fa7b9;
}

#screen td.fg-magenta{
    color: #a488d9;
}

#screen td.bg-magenta{
    background-color: #bd89de;
}

#screen td.fg-cyan{
    color: #7fcab3;
}

#screen td.bg-cyan{
    background-color: #6ec2a8;
}

#screen td.fg-white{
    color: #8d8d8d;
}

#screen td.bg-white{
    background-color: #dad3d3;
}

#screen td.fg-black{
    color: #1c1c1c;
}

#screen td.bg-black{
    background-color: #3d3a3a;
}

#screen td.fg-red{
    color: #d770af;
}

#screen td.bg-red{
    background-color: #d28abf;
}

