#screen td.fg-default{
    color: #919191;
}

#screen td.bg-default{
    background-color: #000000;
}

#screen td.fg-reverse{
    color: #000000;
}

#screen td.bg-reverse{
    background-color: #919191;
}

#screen td.fg-green{
    color: #006ca5;
}

#screen td.bg-green{
    background-color: #3bd6ff;
}

#screen td.fg-brown{
    color: #007086;
}

#screen td.bg-brown{
    background-color: #00ddf4;
}

#screen td.fg-blue{
    color: #6751a6;
}

#screen td.bg-blue{
    background-color: #d5b8ff;
}

#screen td.fg-magenta{
    color: #913e88;
}

#screen td.bg-magenta{
    background-color: #ffa7f6;
}

#screen td.fg-cyan{
    color: #0061b1;
}

#screen td.bg-cyan{
    background-color: #93c9ff;
}

#screen td.fg-white{
    color: #c6c6c6;
}

#screen td.bg-white{
    background-color: #ffffff;
}

#screen td.fg-black{
    color: #303030;
}

#screen td.bg-black{
    background-color: #5e5e5e;
}

#screen td.fg-red{
    color: #a43261;
}

#screen td.bg-red{
    background-color: #ff9fc9;
}

