#screen td.fg-default{
    color: #919191;
}

#screen td.bg-default{
    background-color: #000000;
}

#screen td.fg-reverse{
    color: #000000;
}

#screen td.bg-reverse{
    background-color: #919191;
}

#screen td.fg-green{
    color: #a83334;
}

#screen td.bg-green{
    background-color: #ffa095;
}

#screen td.fg-brown{
    color: #b51d2c;
}

#screen td.bg-brown{
    background-color: #ff948b;
}

#screen td.fg-blue{
    color: #8c4b46;
}

#screen td.bg-blue{
    background-color: #feb2aa;
}

#screen td.fg-magenta{
    color: #7d534f;
}

#screen td.bg-magenta{
    background-color: #ebbbb5;
}

#screen td.fg-cyan{
    color: #9a413d;
}

#screen td.bg-cyan{
    background-color: #ffaaa0;
}

#screen td.fg-white{
    color: #c6c6c6;
}

#screen td.bg-white{
    background-color: #ffffff;
}

#screen td.fg-black{
    color: #303030;
}

#screen td.bg-black{
    background-color: #5e5e5e;
}

#screen td.fg-red{
    color: #c10023;
}

#screen td.bg-red{
    background-color: #ff8781;
}

