#screen td.fg-default{
    color: #d3d3d3;
}

#screen td.bg-default{
    background-color: #000000;
}

#screen td.fg-reverse{
    color: #000000;
}

#screen td.bg-reverse{
    background-color: #d3d3d3;
}

#screen td.fg-green{
    color: #2b4593;
}

#screen td.bg-green{
    background-color: #9f582a;
}

#screen td.fg-brown{
    color: #344276;
}

#screen td.bg-brown{
    background-color: #a38687;
}

#screen td.fg-blue{
    color: #4e3a4f;
}

#screen td.bg-blue{
    background-color: #e1750f;
}

#screen td.fg-magenta{
    color: #61372f;
}

#screen td.bg-magenta{
    background-color: #eaaf25;
}

#screen td.fg-cyan{
    color: #6b484c;
}

#screen td.bg-cyan{
    background-color: #fa8e08;
}

#screen td.fg-white{
    color: #744537;
}

#screen td.bg-white{
    background-color: #fca806;
}

#screen td.fg-black{
    color: #191927;
}

#screen td.bg-black{
    background-color: #905749;
}

#screen td.fg-red{
    color: #282f5e;
}

#screen td.bg-red{
    background-color: #94431c;
}

