#screen td.fg-default{
    color: #ffffff;
}

#screen td.bg-default{
    background-color: #000000;
}

#screen td.fg-reverse{
    color: #000000;
}

#screen td.bg-reverse{
    background-color: #ffffff;
}

#screen td.fg-green{
    color: #97b26b;
}

#screen td.bg-green{
    background-color: #c5f779;
}

#screen td.fg-brown{
    color: #cdcda1;
}

#screen td.bg-brown{
    background-color: #ffffaf;
}

#screen td.fg-blue{
    color: #4a5463;
}

#screen td.bg-blue{
    background-color: #7d8794;
}

#screen td.fg-magenta{
    color: #9c3885;
}

#screen td.bg-magenta{
    background-color: #e628ba;
}

#screen td.fg-cyan{
    color: #88aadd;
}

#screen td.bg-cyan{
    background-color: #99ccff;
}

#screen td.fg-white{
    color: #ffffff;
}

#screen td.bg-white{
    background-color: #dedede;
}

#screen td.fg-black{
    color: #151515;
}

#screen td.bg-black{
    background-color: #505450;
}

#screen td.fg-red{
    color: #bf7979;
}

#screen td.bg-red{
    background-color: #f4a45f;
}

