#screen td.fg-default{
    color: #746c48;
}

#screen td.bg-default{
    background-color: #170f0d;
}

#screen td.fg-reverse{
    color: #170f0d;
}

#screen td.bg-reverse{
    background-color: #746c48;
}

#screen td.fg-green{
    color: #908f32;
}

#screen td.bg-green{
    background-color: #c3c13d;
}

#screen td.fg-brown{
    color: #aa964c;
}

#screen td.bg-brown{
    background-color: #c8b55b;
}

#screen td.fg-blue{
    color: #7b854e;
}

#screen td.bg-blue{
    background-color: #70a16c;
}

#screen td.fg-magenta{
    color: #6b5644;
}

#screen td.bg-magenta{
    background-color: #98724c;
}

#screen td.fg-cyan{
    color: #5c5142;
}

#screen td.bg-cyan{
    background-color: #778725;
}

#screen td.fg-white{
    color: #c8b55b;
}

#screen td.bg-white{
    background-color: #e4dc8c;
}

#screen td.fg-black{
    color: #392925;
}

#screen td.bg-black{
    background-color: #544b2e;
}

#screen td.fg-red{
    color: #98724c;
}

#screen td.bg-red{
    background-color: #af652f;
}

