#screen td.fg-default{
    color: #ffffff;
}

#screen td.bg-default{
    background-color: #000000;
}

#screen td.fg-reverse{
    color: #000000;
}

#screen td.bg-reverse{
    background-color: #ffffff;
}

#screen td.fg-green{
    color: #3ea250;
}

#screen td.bg-green{
    background-color: #6cb87a;
}

#screen td.fg-brown{
    color: #e3d33d;
}

#screen td.bg-brown{
    background-color: #e3da84;
}

#screen td.fg-blue{
    color: #3ea290;
}

#screen td.bg-blue{
    background-color: #8ca8a3;
}

#screen td.fg-magenta{
    color: #ff850d;
}

#screen td.bg-magenta{
    background-color: #ffa64f;
}

#screen td.fg-cyan{
    color: #8c16da;
}

#screen td.bg-cyan{
    background-color: #a167c7;
}

#screen td.fg-white{
    color: #e9e9e9;
}

#screen td.bg-white{
    background-color: #fdfdfd;
}

#screen td.fg-black{
    color: #2a1d17;
}

#screen td.bg-black{
    background-color: #4f362b;
}

#screen td.fg-red{
    color: #da1657;
}

#screen td.bg-red{
    background-color: #da4375;
}

