#screen td.fg-default{
    color: #ffffff;
}

#screen td.bg-default{
    background-color: #000000;
}

#screen td.fg-reverse{
    color: #000000;
}

#screen td.bg-reverse{
    background-color: #ffffff;
}

#screen td.fg-green{
    color: #e2ffc7;
}

#screen td.bg-green{
    background-color: #dbffb3;
}

#screen td.fg-brown{
    color: #ffffb9;
}

#screen td.bg-brown{
    background-color: #ffbe64;
}

#screen td.fg-blue{
    color: #a8ceea;
}

#screen td.bg-blue{
    background-color: #7eb6ff;
}

#screen td.fg-magenta{
    color: #e2b5cc;
}

#screen td.bg-magenta{
    background-color: #e296ff;
}

#screen td.fg-cyan{
    color: #c2efff;
}

#screen td.bg-cyan{
    background-color: #9ce9ff;
}

#screen td.fg-white{
    color: #dddddd;
}

#screen td.bg-white{
    background-color: #dddddd;
}

#screen td.fg-black{
    color: #393939;
}

#screen td.bg-black{
    background-color: #474747;
}

#screen td.fg-red{
    color: #ff9f95;
}

#screen td.bg-red{
    background-color: #ff8d80;
}

