#screen td.fg-default{
    color: #aaaaaa;
}

#screen td.bg-default{
    background-color: #000000;
}

#screen td.fg-reverse{
    color: #000000;
}

#screen td.bg-reverse{
    background-color: #aaaaaa;
}

#screen td.fg-green{
    color: #93d44f;
}

#screen td.bg-green{
    background-color: #c8e7a8;
}

#screen td.fg-brown{
    color: #eab93d;
}

#screen td.bg-brown{
    background-color: #ffc123;
}

#screen td.fg-blue{
    color: #204a87;
}

#screen td.bg-blue{
    background-color: #3465a4;
}

#screen td.fg-magenta{
    color: #ce5c00;
}

#screen td.bg-magenta{
    background-color: #f57900;
}

#screen td.fg-cyan{
    color: #89b6e2;
}

#screen td.bg-cyan{
    background-color: #46a4ff;
}

#screen td.fg-white{
    color: #cccccc;
}

#screen td.bg-white{
    background-color: #ffffff;
}

#screen td.fg-black{
    color: #202020;
}

#screen td.bg-black{
    background-color: #606060;
}

#screen td.fg-red{
    color: #ff6565;
}

#screen td.bg-red{
    background-color: #ff8d8d;
}

