#screen td.fg-default{
    color: #66ff66;
}

#screen td.bg-default{
    background-color: #101010;
}

#screen td.fg-reverse{
    color: #101010;
}

#screen td.bg-reverse{
    background-color: #66ff66;
}

#screen td.fg-green{
    color: #60ff60;
}

#screen td.bg-green{
    background-color: #70ff70;
}

#screen td.fg-brown{
    color: #f9fd75;
}

#screen td.bg-brown{
    background-color: #f9fd80;
}

#screen td.fg-blue{
    color: #4695c8;
}

#screen td.bg-blue{
    background-color: #5a9dc8;
}

#screen td.fg-magenta{
    color: #a78edb;
}

#screen td.bg-magenta{
    background-color: #b29fdb;
}

#screen td.fg-cyan{
    color: #43afce;
}

#screen td.bg-cyan{
    background-color: #69b8ce;
}

#screen td.fg-white{
    color: #f3ebe2;
}

#screen td.bg-white{
    background-color: #eeeeee;
}

#screen td.fg-black{
    color: #1c1c1c;
}

#screen td.bg-black{
    background-color: #4d4d4d;
}

#screen td.fg-red{
    color: #d81860;
}

#screen td.bg-red{
    background-color: #f00060;
}

