table{
    border-collapse: collapse;
    border-color: black;
}

td{
    font-size: medium;
    font-family: monospace;
    border-color: black;
    width: .6em;
    height: 1.0em;
    background-color: black;
    color: white;
}

td.cursor{
    background-color: white;
    color: black;
}