#terminal { display: inline-block; }

#screen {
    border-collapse: collapse;
    border-color: black;
}

#screen td {
    font-size: medium;
    font-family: monospace;
    border-color: black;
    width: .6em;
    height: 1.2em;
    background-color: black;
    color: white;
}

#screen td.cursor {
    background-color: white;
    color: black;
}
